<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

  {% include amp/v0.html %}
  {% include amp/analytics.html %}
  {
  {% include amp/social-share.html %}
  {% include amp/ad.html %}
  {% include amp/sticky-ad.html %}


{% if page.amp %} 
 {if page.amp.youtube %}
  {% include amp/youtube.html %}
 {% endif %}
 {% if page.amp.facebook %}
  {% include amp/facebook.html %}
 {% endif %}
 {% if page.amp.instagram %}
  {% include amp/instagram.html %}
 {% endif %}
 {% if page.amp.video %}
  {% include amp/video.html %}
 {% endif %}
 {% if page.amp.ad %}
  {% include amp/ad.html %}
 {% endif %}
 {% if page.amp.twitter %}
  {% include amp/twitter.html %}
 {% endif %}
 {% if page.amp.carousel %}
  {% include amp/carousel.html %}
 {% endif %}
 {% if page.amp.iframe %}
  {% include amp/iframe.html %}
 {% endif %}
{% endif %}
{% include amp/boilerplate.html %}
{% include amp/style.html %}
</head>
